<% provide(:title, "About") %>
<html>
    <body>
        <h1>Universe App</h1>
        <h2>Krótka informacja o aplikacji</h2>
        <p>Przedstawia użytkowników, którzy przechowują w swoim indywidualnym kosmicznym atlasie ulubione przez siebie ciała
        niebieskie (krótki opis i/lub zdjęcie)</p>
    </body>
</html>
